.daily-activity {
  background-color: #fbfbfb;
  padding: 1.5rem;
  border-radius: 5px;
  height: 280px;
  width: 100%;
}

.daily-activity-legend {
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.daily-activity-legend h3 {
  font-size: 1rem;
  font-weight: 500;
}

.legend {
  display: flex;
  align-items: center;
}

.legend img {
  width: 8px;
  height: 8px;
  margin-right: 10px;
}

.weight {
  margin-right: 40px;
}

.weight,
.calories {
  display: flex;
  font-size: 14px;
  align-items: center;
}

.tooltip {
  background: #e60000;
  padding: 1rem 0.5rem;
  color: white;
  text-align: center;
}

.tooltip-kcal {
  margin-top: 0.8rem;
}
