.Calories-count {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Protéines-count {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Glucides-count {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Lipides-count {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nutrient-icon {
  width: 4rem;
}

.nutrient-icon img {
  width: 100%;
}

.nutrient-icons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 4rem;
  margin-top: 4rem;
  font-size: 0.8rem;
}
