* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  line-height: 1;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
  height: 780px;
}

.main-content {
  display: flex;
  width: 100%;
  height: calc(100% - 4rem);
}

.home {
  padding: 1.5rem;
  width: 100%;
  max-width: 1024px;
}

.landing-home {
  padding: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
  font-size: 2rem;
  text-align: center;
}

.landing-home p {
  margin-top: 1rem;
}

.flex-container {
  display: flex;
  /* justify-content: center; */
  /* width: 100%; */
  /* height: 100%; */
}

.left-content {
  width: 80%;
  height: 100%;
  flex-direction: column;
}

.bottom-content {
  display: flex;
  height: 16.467rem;
  margin-top: 2rem;
}

.error-page {
  position: absolute;
  display: grid;
  place-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.activity-userpage,
.sessions-userpage,
.score-userpage,
.activities-userpage,
.nutrients-userpage {
  padding: 2rem;
}

.list-items-activity,
.list-items-sessions,
.list-items-score,
.list-items-activities,
.list-items-nutrients {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.title-activity,
.title-sessions,
.title-score,
.title-activities,
.title-nutrients {
  font-size: 2rem;
  margin-bottom: 1rem;
}
