* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  line-height: 1;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.home {
  flex-grow: 1;
  padding: 3rem;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-content {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.bottom-content {
  display: flex;
  height: 18rem;
  /* Changer hauteur ici  */
  width: 100%;
  margin-top: 3rem;
}

.daily-wrapper {
  height: 10rem;
  /* Changer hauteur ici  */
  width: 100%;
}
