* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  line-height: 1;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
}

.daily-act {
  flex-grow: 1;
  margin-top: 1rem;
}
